.geolocation-twitter-trends-box {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: .8vw;
    position: absolute;
}

.trends-list {
    height: 100%;
    overflow-y: scroll;
}

.trends-div-box {
    height: 91.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trends-list-item {
    background-color: #F5F8FA;
    text-align: left;
    padding-left: 10%;
    color: #728591;
}

.trends-list-item:hover {
    cursor: pointer;
    background-color: #EDF1F4;
}