.google-container {
    width: 100%;
    background-image: url("../img/hexellence.png");
    display: grid;
    grid-template-columns: 50% 50%;
}

.table-container {
    display: flex;
    justify-content: center;
}

.story-header {
    margin-top: 7.5%;
    margin-bottom: 5%;
    font-size: 2vw;
}

.marker-table {
    width: 100%;
    max-height: 60%;
    overflow-y: scroll;
}