.logoSize {
    font-size: 1.4vw;
}

@media screen and (max-width: 380px) {
    .logoSize {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 800px) {
    .logoSize {
        font-size: 2.5vw;
    }
}