.logoSize {
    font-size: 1.4vw;
}

.btn-logout {
    background-color: none;
    border: none;
    color: white;
}

.left-menu-icon {
    margin-left: 50%;
    font-size: 1.15vw;
}

.left-menu {
    position: fixed;
    height: 100vh;
    background-color: black;
    opacity: 0.85;
    width: 15%;
    left: -15%;
    z-index: 110;
}

.header-profil-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.item-menu {
    padding: 15%;
    font-size: 1.2vw;
    background-color: black;
}

.item-menu:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.ul-no {
    list-style-type: none;
}

.a-link-menu {
    color: #4a4949;
    text-decoration: none;
}