.logoSize {
    font-size: 1.4vw;
}

@media screen and (max-width: 380px) {
    .logoSize {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 380px) {
    .form-size {
        width: 55%;
        height: 30%;
    }

    .logo-text {
        font-size: 4vw;
    }

    .btn-fb {
        height: 15%;
    }

    .block-text-fb {
        font-size: 3.5vw;
        line-height: 200%;
    }
}

@media screen and (orientation: landscape) and (max-width: 850px) and (max-height: 400px) {
    .form-size {
        width: 30%;
        height: 70%;
    }

    .logo-text {
        font-size: 2vw;
    }

    .btn-fb {
        height: 15%;
    }

    .block-text-fb {
        font-size: 1.7vw;
        line-height: 200%;
    }

    .absolute-center {
        top: 55%;
    }
}
/* iPhone XS Max */
@media screen and (max-width: 1300px) and (min-width: 1200px) and (orientation: portrait) {
    .logoSize {
        font-size: 5vw;
    }
    header {
        font-size: 2vw;
    }
}

/* iPhone XS Max - landscape */
@media screen and (max-width: 2700px) and (min-width: 2600px) and (orientation: landscape) {
    .logoSize {
        font-size: 2vw;
    }
    header {
        font-size: 1vw;
    }
}

/* iPhone 6/7/8 */
@media screen and (max-width: 400px) and (min-width: 300px) {
    .logoSize {
        font-size: 5vw;
    }
    header {
        font-size: 3vw;
    }
}

/* iPhone 6/7/8 - landscape */
@media screen and (max-width: 700px) and (min-width: 600px) and (orientation: landscape) {
    .logoSize {
        font-size: 2.7vw;
    }

    header {
        font-size: 1,7vw;
    }
}

/* iPhone 6/7/8 plus*/
@media screen and (max-width: 470px) and (min-width: 350px) {
    .logoSize {
        font-size: 5vw;
    }
    header {
        font-size: 3.3vw;
    }
}

/* iPhone 6/7/8 plus - landscape */
@media screen and (max-width: 770px) and (min-width: 680px) and (orientation: landscape) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }
}

/* iPad */
@media screen and (max-width: 800px) and (min-width: 700px) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }

    
}

/* iPad Pro */
@media screen and (max-width: 1100px) and (min-width: 1000px) {
    .form-size {
        width: 45%;
        height: 45%;
    }
    .logo-text {
        font-size: 4vw;
    }

    .btn-fb {
        height: 15%;
    }

    .block-text-fb {
        font-size: 2.8vw;
        line-height: 230%;
    }
}

/* iPad Pro */
@media screen and (max-width: 1400px) and (min-width: 1000px) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }
}

/*  iPhone 4 */
@media screen and (max-width: 450px) and (min-width: 350px) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }
}

/*  iPad 3 */
@media screen and (max-width: 1600px) and (min-width: 1500px) {
    .form-size {
        width: 45%;
        height: 35%;
    }
    .logo-text {
        font-size: 3vw;
    }

    .btn-fb {
        height: 15%;
    }

    .block-text-fb {
        font-size: 2.8vw;
        line-height: 230%;
    }
}

/*  iPad 3 - landscape */
@media screen and (max-width: 1600px) and (min-width: 1500px) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }
}

/*  Large screens */
@media screen and (max-width: 2450px) and (min-width: 2350px) {
    .logoSize {
        font-size: 3vw;
    }

    header {
        font-size: 2vw;
    }
}

/*  Large screens */
@media screen and (max-width: 1250px) and (min-width: 1150px) {
    .logoSize {
        font-size: 3.5vw;
    }

    header {
        font-size: 2.5vw;
    }
}

/* Galaxy S4 */
@media screen and (max-width: 1150px) and (min-width: 1000px) {
    .logoSize {
        font-size: 4vw;
    }

    header {
        font-size: 2.5vw;
    }
}

/* Desktops and laptops */
@media screen and (max-width: 1700px) and (min-width: 1500px) {
    .logoSize {
        font-size: 2.5vw;
    }

    header {
        font-size: 1.5vw;
    }
}